@using System.Data;
@using Supermarketsystem.BAL;
@model IEnumerable<Supermarketsystem.Areas.User.Models.CartModel>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



 <!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                        <tr>
                            <td>
                                
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/assets1/img/cart.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>@item.ProductName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>@item.ProductPrice</h5>
                            </td>
                            
                                  
                           @* <td>
                                
                                <div class="product_count">
                                    <input type="number" name="qty" id="sst" maxlength="12" value="@item.Quantity" title="Quantity:"
                                           class="input-text qty">
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button">
                                        <i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button">
                                        <i class="lnr lnr-chevron-down"></i>
                                    </button>
                                </div>
                            </td>*@
                           @* <td>
                                <h5>@item.ProductPrice</h5>

                            </td>*@
                               @* <td>
                                <div class="product_count">
                                    <form method="post" asp-area="User" asp-controller="Cart" asp-action="Edit">
                                        <input type="hidden" name="ProductID" value="@item.ProductID" />
                                        <input type="hidden" name="UserId" value="@item.UserID" />
                                        <input type="text" name="qty" id="sst_@(Convert.ToInt32(item.ProductID))" maxlength="12" value="@item.Quantity" title="Quantity:"
                                               class="input-text qty" onchange="updateTotalPrice()">

                                        <button  class="increase items-count" type="submit" >
                                        <i class="lnr lnr-chevron-up"></i>
                                    </button>
                                        </form>

                                        <form method="post" asp-area="User" asp-controller="Cart" asp-action="Decrement">
                                            <input type="hidden" name="ProductID" value="@item.ProductID" />
                                            <input type="hidden" name="UserId" value="@item.UserID" />
                                            <input type="text" name="qty" id="sst_@(Convert.ToInt32(item.ProductID))" maxlength="12" value="@item.Quantity" title="Quantity:"
                                                   class="input-text qty" onchange="updateTotalPrice()">

                                            <button class="increase items-count" type="submit">
                                                <i class="lnr lnr-chevron-down"></i>
                                            </button>
                                        </form>
                                </div>
                                </td>*@
                                <td>
                                    <form method="post" asp-area="User" asp-controller="Cart" asp-action="Edit">
                                        <input type="hidden" name="ProductID" value="@item.ProductID" />
                                        <input type="hidden" name="UserId" value="@item.UserID" />
                                        <button class="btn btn-sm btn-dark btn-minus" type="submit">&plus;</button>
                                    </form>
                                </td>
                                <td>
                                    <span>@item.Quantity</span>
                                </td>
                               
                               
                                    
                                <td>
                                    <form method="post" asp-area="User" asp-controller="Cart" asp-action="Decrement">
                                        <input type="hidden" name="ProductID" value="@item.ProductID" />
                                        <input type="hidden" name="UserId" value="@item.UserID" />
                                        <button class="btn btn-sm btn-dark btn-minus" type="submit">&minus;</button>
                                    </form>
                                </td>
                                <td>
                                    <h5>@(Convert.ToDouble(@item.ProductPrice) * Convert.ToDouble(@item.Quantity))</h5>
                                </td>
                               
                              @*  <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="hshs" maxlength="12" value="@item.Quantity" title="Quantity:"
                                               class="input-text qty" onchange="updateTotalPrice()" >
                                        <button onclick="incrementQuantity()" class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up" asp-area="User" asp-controller="Cart" asp-action="Edit" asp-route-ProductID="@Convert.ToInt32(@item.ProductID)" asp-route-userid="@Convert.ToInt32(CV.UserID())"></i>
                                        </button>
                                        <button onclick="decrementQuantity()" class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="totalPrice">@Convert.ToDouble(@item.ProductPrice) * @Convert.ToDouble(@item.Quantity)</h5>
                                </td>
                          
                                <script>
                                    function incrementQuantity() {
                                        var quantityInput = document.getElementById('sst');
                                        var currentValue = parseInt(quantityInput.value);
                                        quantityInput.value = currentValue + 1;
                                        updateTotalPrice();
                                    }

                                    function decrementQuantity() {
                                        var quantityInput = document.getElementById('sst');
                                        var currentValue = parseInt(quantityInput.value);
                                        if (currentValue > 0) {
                                            quantityInput.value = currentValue - 1;
                                            updateTotalPrice();
                                        }
                                    }

                                    function updateTotalPrice() {
                                        var quantityInput = document.getElementById('sst');
                                        var totalPriceElement = document.getElementById('totalPrice');
                                        var totalPrice = parseFloat(quantityInput.value) * parseFloat('@Convert.ToDouble(@item.ProductPrice)');
                                        totalPriceElement.innerText = totalPrice.toFixed(2);
                                    }
                                </script>
                                *@

                                <td>
                                <a href="@Url.Action("CartDetail","Cart", new { area = "User",CartID = item.CartID}) " class="btn btn-primary" type="button">place order</a>
                                </td>
                        
                                
                                <td>
                                    <a href="@Url.Action("Delete","Cart", new {CartID = item.CartID,  UserID=@CV.UserID()}) " class="btn" type="button"><i class="lnr lnr-cross"></i></a>
                              
                                </td>
                        </tr>
                        }
                        
    
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$2160.00</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode">
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="#">Continue Shopping</a>
                                    <a class="primary-btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

@*@section Script{
    <script>
        function incrementQuantity(productId) {
            var quantityInput = document.getElementById('sst_' + productId);
            var currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
            updateTotalPrice(productId);
        }

        function decrementQuantity(productId) {
            var quantityInput = document.getElementById('sst_' + productId);
            var currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) { // Prevents quantity from going below 1
                quantityInput.value = currentValue - 1;
                updateTotalPrice(productId);
            }
        }

        function updateTotalPrice(productId) {
            var quantityInput = document.getElementById('sst_' + productId);
            var totalPriceElement = document.getElementById('totalPrice_' + productId);
            var productPrice = parseFloat(document.getElementById('price_' + productId).value);
            var totalPrice = parseFloat(quantityInput.value) * productPrice;
            totalPriceElement.innerText = totalPrice.toFixed(2);
        }
    </script>

}*@